<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1_3">
            <span class="v1_251">This is the best invoice generator</span>
            <div class="v1_250"><div class="v1_4"></div>
            <div class="v1_249">
                <span class="v1_6">Generate invoice</span>
            </div>
        </div></div>
    </body>
</html>
