.custom-button-color {
  background-color: rgba(137, 134, 255, 1);
}
input {
  outline: 2px solid rgba(137, 134, 255, 1); /* Adds a green outline */
  padding: 0px 8px !important;
  border-radius: 8px;
}
input:focus {
  outline: 2px solid rgb(43, 39, 248); /* Changes outline to orange on focus */
}
input[type="number"] {
  width: 100px;
}